.ftco-section {
    padding: 7em 0;
    position: relative;
}
.section-padding {
  padding: 130px 0;
}
.section-padding2 {
  padding-top: 130px;
}
.template-btn {
  color: #131230;
  background: #ffb606;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  display: inline-block;
  padding: 12px 30px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.template-btn:hover {
  color: #131230;
  background: transparent;
  border: 1px solid #ffb606;
}
.img, .chef-img, .insta-img, .menu-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.btn.btn-primary {
    background: #ffb400;
    border: 2px solid #ffb400;
    color: #fff;
}
.btn.btn-primary.btn-outline-primary {
    border: 2px solid #ffb400;
    background: transparent;
    color: #ffb400;
}
.btn.btn-primary.btn-outline-primary:hover {
    border: 2px solid transparent;
    background: #ffb400;
    color: #404044;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}